body{
    scroll-behavior: smooth;
}
.fs-16 {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.fw-weight {
    font-weight: 600 !important;
}

.text-decorate {
    text-decoration: none !important;
}

.border-top {
    border-top: 2px solid #cfc8c6;
}

/* .parallax-image {
    background-image: url('../image/background.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.text-margin {
    position: relative;
    top: 13rem;
    font-size: 30px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-14 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.image-size {
    background: #3e6493 !important;
    padding: 36px !important;
    border-radius: 50% !important;
    border: 2px solid #cdcdce !important;
}
.image-size:hover{
    background-color: white !important;
    border: 2px solid #3e6493 !important;
    color: #3e6493 !important;
}

.image-size1 {
    background: white;
    padding: 36px 33px 34px 32px !important;
    border-radius: 50%;
    border: 2px solid #cdcdce;
}
.image-size1:hover{
    background-color: #3e6493;
    border: 2px solid #cdcdce;
    color: white !important;
}

.back-ground {
    background-color: #3e6493;
}

.fs-25 {
    font-size: 25px !important;
}

.text-color {
    color: #3e6493 !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fas-12 {
    font-size: 13px !important;
}

.border-image {
    border: 2px solid #aaadaf;
    border-radius: 50%;
}

.border-new {
    border: 1px solid #aaadaf;
    border-radius: 50%;
}

.text-left1 {
    text-align: left !important;
}

.bor-left {
    border-left: 4px solid #3e6493;
}

.fs-17 {
    font-size: 17px !important;
    font-weight: 550 !important;
}

.flex-color {
    background-color: #e5edf4 !important;
}

.image-back {
    background-image: url('../image/block.png');
    background-size: cover !important;
}
.maps-height{
    height: 300px !important;
}
.fo-weight{
    font-family: 'Poppins', sans-serif;
}
.fw-weight2{
    font-weight: 700 !important;
}
.fs-24{
    font-size: 24px !important;
}
.new-color{
    background: #e5edf4 !important;
}
.mar-top{
    margin-top: 6rem;
}
.icon-transform{
    background: #e5edf4;
    width: 42%;
    padding: 14px 0px 14px 0px !important;
    margin: 0 auto;
    border-radius: 8px;
    transform: rotate(
-12deg
)
}
.icon-rotate{
    transform: rotate(
        12deg
        );
}
.fas-14{
    font-size: 14px !important;
    font-weight: 550 !important;
}
.mar-left{
    margin-left: 2rem;
}
.mar-smart{
    margin-left: 5.5rem;
}
.mar-enter{
    margin-left: 4rem;
}
.mar-block{
    margin-left: 3rem;
}
.nav-bar-font{
    font-family: 'Source Sans Pro', sans-serif  !important;
}
.btn-style{
    right: 0;
}